<html>
  <head>    
    <!-- Framework CSS -->  
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />  
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />  
    <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script src="/js/util.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAb_jezcuO5q_2JwKZ3zKojRTsU_MjW0a8imyIABftsFrJHigc8xSsBjkw1lsfgkj1NZ16szY9wL96Og" type="text/javascript"></script>
    
  </head>
  <body>
    <div id="headerbg"></div>
    <div class="container">
      <header>
        <a href="/"><img src="/images/logo.png"/></a>
        {% if user %}
          <nav align="right">Welcome, {{ user.nickname }}  -
          <a href="{{log_in_out_url}}">Log out</a> </nav>
        {% else %}
          <nav align="right"><a href="{{log_in_out_url}}">Log in</a></nav>
        {% endif %}
      </header>
      <div id="dragon" class="transparent"><img src="/images/dragon.png"/></div>
        <section id="content" class="chromed">
            asdfasdf
        </section>
    </div>
    <script type="text/javascript">
    google.load("jqueryui", "1");
    google.load("jquery", "1");
    google.load("chrome-frame", "1");
    </script>
  </body>
</html>