<p>Hits: {{ stats.hits }}</p>
<p>Misses: {{ stats.misses }}</p>
<p>Byte_Hits: {{ stats.byte_hits }}</p>
<p>Items (K/V pairs): {{ stats.items }}</p>
<p>Bytes: {{ stats.bytes }}</p>
<table>
{% for items in cache %}
    <tr>
    {% for item in items %}
        {% if item.user %}
        {% for x in item %}
        <td>
            {{ x.user.nickname }}
        </td>
        {% endfor %}
        {% else %}
        <td>
            {{ item }}
        </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

